# IDE and editor files
.vscode/
.idea/
.pio/

*/.vscode/
*/.idea/
*/.pio/
*.swp
*.swo
*~
.*.sw?

#python
__pycache__/

# Logs
*.log
*.tmp
npm-debug.log*
yarn-debug.log*

# Operating System files
.DS_Store          # macOS Finder metadata
Thumbs.db          # Windows thumbnail cache
ehthumbs.db        # Windows Explorer thumbnails
Desktop.ini        # Windows folder properties
